@media screen and (max-width: 340px) {
  .technologies {
    gap: 0;
  }
  .profile_image {
    width: 225px;
    height: 225px;
  }
  .project {
    height: 345px;
    width: 286px;
  }
  .project img {
    width: 225px;
    height: 225px;
  }
}
@media screen and (max-width: 450px) {
  #header {
    display: none;
  }
  #home {
    gap: 0;
  }
  #about {
    justify-content: center;
  }
  #projects {
    height: 1500px;
  }
}
@media screen and (max-width: 640px) {
  .technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .technologies img {
    flex-basis: calc(25% - 1rem);
  }
}
@media screen and (max-width: 670px) {
  #home {
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  #projects {
    padding-bottom: 50px;
  }
  #about {
    padding-top: 50px;
    height: 65vh;
  }
}
@media (min-width: 1280px) {
  #projects {
    height: 750px;
  }
}
